


.game-container {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: #1c1c1c;
    color: #f8f8f8;
    padding: 20px;
    height: 100vh;
}


.game-over-card {
    color: red;
    padding: 20px;
}


.start-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


button {
    background-color: blue;
    color: white;
    border: none;
    padding: 15px 80px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 25px;
    transition: 0.3s ease-in-out;
}

button:hover {
    background-color: #45a049;
}


button:disabled {
    background-color: gray;
    cursor: not-allowed;
}


.answers-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.answers-container button {
    margin: 5px;
    padding: 12px;
    font-size: 18px;
}
