html, body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    color: #D9D9D9;
}


.landing-page section {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    padding: 20px;
    background-color: #1A1A1A;
    margin: 0;
}


.greeting-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin: 0 auto;
    padding: 80px 40px;
    min-height: 50vh;
    gap: 40px;
}


.navbar.scrolled + .greeting-section {
    padding-top: 60px;
}

.greeting-desc {
    flex: 1;
    text-align: center;
    color: beige;
    max-width: 600px;
    padding: 40px;
}

.greeting-desc h1 {
    font-size: 3rem;
    margin: 20px 0;
    background-image: linear-gradient(135deg, #ff6b6b, #ffa726);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    max-width: 600px;
}

.greeting-desc p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin: 20px 0;
}

.personal-card {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
}

.personal-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #1a1a1a;
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.8);
}

.personal-img img {
    border-radius: 10px;
    width: 250px;
    height: 225px;
    object-fit: cover;
}

.personal-img h2 {
    background: linear-gradient(135deg, #ff6b6b, #ffa726);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    margin: 10px 0 20px 0;
    font-size: 1.5rem;
}

.button-container {
    display: flex;
    gap: 15px;
    margin-top: 20px;
    justify-content: center;
    
}

.view-work-button {
    background: linear-gradient(135deg, #ff6b6b, #ffa726);
    color: beige;
    border: none;
    padding: 12px 24px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 8px;
    transition: all 0.3s ease;
    font-weight: 500;
}

.view-work-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(139, 92, 246, 0.4);
}

.download-button {
    background: linear-gradient(135deg, #ff6b6b, #ffa726);
    color: beige;
    padding: 12px 24px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 8px;
    transition: all 0.3s ease;
    font-weight: 500;
}

.download-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(139, 92, 246, 0.4);
}

@media (max-width: 768px) {
    .greeting-section {
        flex-direction: column;
        text-align: center;
        gap: 40px;
    }
    
    .greeting-desc {
        text-align: center;
    }
    
    .button-container {
        flex-direction: column;
        align-items: center;
    }
}

.information-section {
    flex-direction: column;
    justify-content: center;
}

.languages-slider-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 40px;
}

.languages-slider-container img {
    flex: 1;
    min-width: 25px;
    max-width: 100px;
    width: 100%;
    transition: opacity 0.3s ease-in-out;
    margin-top: 30px;
}


.info-card-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.info-card {
    background-color: #1A1A1A;
    border-radius: 10px;
    padding: 10px;
    flex: 1;
    min-width: 200px;
    max-width: 500px;
    width: 100%;
    text-align: center;
    color: beige;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
}

.info-card:hover {
    transform: translateY(-10px);
}

.info-card h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.info-card p {
    font-size: 1rem;
    margin-bottom: 20px;
}

.info-card button {
    background: linear-gradient(135deg, #3b82f6, #8b5cf6);
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
    color: beige;
}

.info-card button:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(139, 92, 246, 0.4);
}

.myExperience {
    position: relative;
    width: 100%;
    padding: 5vh 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.myExperience h1 {
    text-align: center;
    font-size: clamp(1.8rem, 5vw, 3rem);
    margin-bottom: 2vh;
    color: beige;
    z-index: 10;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}


.myExperience-cards {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.myExperience-card {
    background-color: #1A1A1A;
    border-radius: 10px;
    padding: 10px;
    flex: 1;
    min-width: 200px;
    max-width: 500px;
    width: 100%;
    text-align: center;
    color: beige;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
    transform: translateY(-10px);
}

.myExperience-card h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;

}

.myExperience-card h3 {
    font-size: 1rem;
    margin-bottom: 20px;

}

.myExperience-card li {
    padding-left: 5px
}


.projects-section {
    position: relative;
    width: 100%;
    padding: 5vh 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.project-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}


.project-card {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.project-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
    transition: transform 0.3s ease;
}

.project-card img:hover {
    transform: translateY(-10px);
}


.projects-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #D9D9D9;
    padding: 20px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    width: 80%;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.projects-section h1 {
    text-align: center;
    font-size: clamp(1.8rem, 5vw, 3rem);
    color: beige;
    z-index: 10;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}


.project-card:hover .projects-overlay {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.05);
}


.projects-overlay p {
    font-size: 1.2rem;
    margin-bottom: 15px;
    font-weight: bold;
}

.projects-overlay button {
    background-color: black;
    border: none;
    color: beige;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.8s ease;
}

.projects-overlay button:hover {
    background-color: #b5b5b5;
}

.aboutMe {
    position: relative;
    width: 100%;
    padding: 5vh 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.aboutMe h1 {
    text-align: center;
    font-size: clamp(1.8rem, 5vw, 3rem);
    margin-bottom: 2vh;
    color: beige;
    z-index: 10;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}


.aboutMe-cards {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.aboutMe-card {
    background-color: #1A1A1A;
    border-radius: 10px;
    padding: 10px;
    flex: 1;
    min-width: 200px;
    max-width: 500px;
    width: 100%;
    text-align: center;
    color: beige;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
}

.aboutMe-card h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;

}


.testimonials {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vh 5%;
    min-height: 100vh;
    justify-content: center;

}

.testimonials h1 {
    text-align: center;
    font-size: clamp(1.8rem, 5vw, 3rem);
    color: beige;
    z-index: 10;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    margin-bottom: 2vh;
}

.testimonial-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 3vh;
    width: 100%;
    max-width: 1200px;
}

.testimonial-card {
    background-color: #1a1a1a;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    width: 90%;
    min-width: 250px;
}

.testimonial-text {
    padding: 15px;
    margin-top: 20px;
    color: beige;
}

.testimonial-text p {
    font-size: 1rem;
    line-height: 1.5;
}

.testimonial-text p:last-child {
    font-size: 0.9rem;
    color: #ffcc00;
    margin-top: 10px;
}

.footer {
    background-color: #1A1A1A;
    color: beige;
    padding: 50px 20px;
    text-align: center;
    font-family: Roboto, sans-serif;
    margin-bottom: 0;
    min-height: 15px;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-socials {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 20px;
}

.footer-socials a {
    display: inline-block;
    transition: transform 0.5s ease, opacity 0.3s ease-in-out;
}

.footer-socials a:hover {
    transform: translateY(-5px);
    opacity: 0.5;
}

.github-footer, .likedin-footer {
    width: 42px;
    height: 42px;
}

.github-footer:hover, .likedin-footer:hover {
    width: 50px;
    height: 50px;
}

.footer-nav {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.footer-nav a {
    text-decoration: none;
    color: beige;
    font-size: 1.0rem;
    font-weight: 500;
    transition: color 0.3s ease, transform 0.3s ease;
}

.footer-nav a:hover {
    color: tan;
    transform: translateY(-2px);
}

.footer-copy {
    margin-top: 20px;
    font-size: 0.8rem;
}

.footer-copy p {
    margin: 0;
}
















