html, body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    color: #D9D9D9;
}


.landing-page section {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    margin: 0;
    background-color: #1A1A1A;
}


.greeting-section {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: beige;
}

.personal-card {
    margin-bottom: 30px;
}

.personal-img img {
    max-width: 500px;
    border-radius: 15%;
}

.greeting-desc h1 {
    font-size: 2.5rem;
    margin: 20px 0;
}

.greeting-desc p {
    font-size: 1.2rem;
    max-width: 600px;
    margin: 0 auto;
}

.download-button {
    background: linear-gradient(110deg, purple, deeppink);
    color:ghostwhite;
    border: none;
    padding: 6px 12px;
    font-size: 1.0rem;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    margin-top: 20px;
    transition: background 1s ease-in-out, background-position 0.3s ease-in-out;;
}

.download-button:hover {
    background: #0070f3;
}


.information-section {
    flex-direction: column;
    justify-content: center;
}

.languages-slider-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
}

.languages-slider-container img {
    max-width: 100px;
    margin: 0 10px;
    border-radius: 5px;
    transition: opacity 0.3s ease-in-out;
}


.info-card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
}

.info-card {
    background-color: #1A2521;
    border-radius: 10px;
    padding: 50px;
    max-width: 425px;
    text-align: center;
    color: beige;
    transition: transform 0.3s ease-in-out;
}

.info-card:hover {
    transform: translateY(-10px);
}

.info-card h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.info-card p {
    font-size: 1rem;
    margin-bottom: 20px;
}

.info-card button {
    background-color: #4CAF50;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.info-card button:hover {
    background-color: #388E3C;
}


.projects-section {
    position: relative;
    width: 100%;
    padding: 5vh 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.project-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}


.project-card {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.project-card img {
    width: 100%;
    height: 125%;
    object-fit: cover;
    border-radius: 2px;
}


.projects-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #D9D9D9;
    padding: 20px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    width: 80%;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.projects-section h1 {
    text-align: center;
    font-size: clamp(1.8rem, 5vw, 3rem);
    color: beige;
    z-index: 10;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}


.project-card:hover .projects-overlay {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.05);
}


.projects-overlay p {
    font-size: 1.2rem;
    margin-bottom: 15px;
    font-weight: bold;
}

.projects-overlay button {
    background-color: black;
    border: none;
    color: beige;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.8s ease;
}

.projects-overlay button:hover {
    background-color: #b5b5b5;
}

.aboutMe {
    position: relative;
    width: 100%;
    padding: 5vh 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.aboutMe h1 {
    text-align: center;
    font-size: clamp(1.8rem, 5vw, 3rem);
    margin-bottom: 2vh;
    color: beige;
    z-index: 10;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}


.aboutMe-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
}

.aboutMe-card {
    background-color: #1A2521;
    border-radius: 10px;
    padding: 30px;
    max-width: 500px;
    text-align: center;
    color: beige;
    transition: transform 0.3s ease-in-out;
}

.aboutMe-card h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;

}


.testimonials {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vh 5%;
    min-height: 100vh;
    justify-content: center;

}

.testimonials h1 {
    text-align: center;
    font-size: clamp(1.8rem, 5vw, 3rem);
    color: beige;
    z-index: 10;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    margin-bottom: 2vh;
}

.testimonial-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 3vh;
    width: 100%;
    max-width: 1200px;
}

.testimonial-card {
    background-color: #1a1a1a;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    width: 90%;
    min-width: 250px;
}

.testimonial-text {
    padding: 15px;
    margin-top: 20px;
    color: beige;
}

.testimonial-text p {
    font-size: 1rem;
    line-height: 1.5;
}

.testimonial-text p:last-child {
    font-size: 0.9rem;
    color: #ffcc00;
    margin-top: 10px;
}

.footer {
    background-color: #1A1A1A;
    color: beige;
    padding: 50px 20px;
    text-align: center;
    font-family: Roboto, sans-serif;
    margin-bottom: 10px;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-socials {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 20px;
}

.footer-socials a {
    display: inline-block;
    transition: transform 0.5s ease, opacity 0.3s ease-in-out;
}

.footer-socials a:hover {
    transform: translateY(-5px);
    opacity: 0.5;
}

.github-footer, .likedin-footer {
    width: 42px;
    height: 42px;
}

.github-footer:hover, .likedin-footer:hover {
    width: 50px;
    height: 50px;
}

.footer-nav {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.footer-nav a {
    text-decoration: none;
    color: beige;
    font-size: 1.0rem;
    font-weight: 500;
    transition: color 0.3s ease, transform 0.3s ease;
}

.footer-nav a:hover {
    color: tan;
    transform: translateY(-2px);
}

.footer-copy {
    margin-top: 20px;
    font-size: 0.8rem;
}

.footer-copy p {
    margin: 0;
}
















