.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    color: yellow;
    width: 100%;
    height: 4.2%;
    top: 0;
    border-radius: 2px;
    z-index: 100;
    box-sizing: border-box;
    box-shadow: white;
    font-family: Outfit, sans-serif;
    background-color: transparent;
    transition: background-color 0.3s ease;
}


.cta-button {
    padding: 0.25rem 0.90rem;
    background: linear-gradient(110deg, purple, deeppink);
    background-size: 200% 200%;
    color: #fff;
    border: none;
    border-radius: 60px;
    cursor: pointer;
    font-size: 1rem;
    transition: background 1s ease-in-out, background-position 0.3s ease-in-out;
    white-space: nowrap;
    font-family: Roboto, sans-serif;
}

.cta-button:hover {
    background: linear-gradient(110deg, darkslategray, lightcoral) 50% 0;
    background-size: 200% 200%;
}

.hash-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
}
.hash-links.scrolled {

}

.about-button,
.projects-button,
.experience-button,
.home-button {
    font-family: Outfit, sans-serif;
    color: beige;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.about-button:hover,
.projects-button:hover,
.experience-button:hover,
.home-button:hover   {
    color: #D6B588;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .hash-links {
        flex-direction: column;
        width: 100%;
        margin-top: 10px;
    }

    .cta-button {
        margin-top: 10px;
    }
}












