.navbar {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px 30px;
    width: auto;
    height: 6%;
    top: 2%;
    left: 50%;
    z-index: 1000;
    border-radius: 1px;
    box-sizing: border-box;
    font-family: Outfit, sans-serif;
    background-color: #1A1A1A;
    transform: translateX(-50%);
    animation: glow 2s infinite alternate;

}

@keyframes glow {
    0% {
        box-shadow: 0 0 1px royalblue, 0 0 3px royalblue, 0 0 5px royalblue, 0 0 7px royalblue;
    }

    50% {
        box-shadow: 0 0 2px #0099CC, 0 0 4px #0099CC, 0 0 30px #0099CC, 0 0 6px #0099CC;
    }

    100% {
        box-shadow: 0 0 10px #0066CC, 0 0 20px #0066CC, 0 0 30px #0066CC, 0 0 40px #0066CC;
    }
}


.cta-button {
    padding: 0.25rem 0.90rem;
    background: linear-gradient(110deg, purple, deeppink);
    background-size: 200% 200%;
    color: #fff;
    border: none;
    border-radius: 60px;
    cursor: pointer;
    font-size: 1rem;
    transition: background 1s ease-in-out, background-position 0.3s ease-in-out;
    white-space: nowrap;
    font-family: Roboto, sans-serif;
}

.cta-button:hover {
    background: linear-gradient(110deg, darkslategray, lightcoral) 50% 0;
    background-size: 200% 200%;
}

.hash-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;

}

.about-button,
.projects-button,
.home-button {
    font-family: Roboto, sans-serif;
    color: beige;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    transition: transform 0.5s ease, opacity 0.3s ease-in-out;
    margin: 0 20px;
}

.about-button:hover,
.projects-button:hover,
.home-button:hover   {
    color: #D6B588;
    transform: translateY(-5px);
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .hash-links {
        flex-direction: column;
        width: 100%;
        margin-top: 10px;
    }

    .cta-button {
        margin-top: 10px;
    }
}












