.navbar {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 15px 5%;
    width: auto;
    height: 6%;
    top: 2%;
    left: 50%;
    z-index: 1000;
    max-width: 800px;
    min-width: 100px;
    border-radius: 15px;
    box-sizing: border-box;
    font-family: Outfit, sans-serif;
    background-color: #1A1A1A;
    transform: translateX(-50%);
    animation: glow 2s infinite alternate;

}

@keyframes glow {
    0% {
        box-shadow: 0 0 1px royalblue, 0 0 3px royalblue, 0 0 5px royalblue, 0 0 7px royalblue;
    }

    50% {
        box-shadow: 0 0 2px #0099CC, 0 0 4px #0099CC, 0 0 30px #0099CC, 0 0 6px #0099CC;
    }

    100% {
        box-shadow: 0 0 10px #0066CC, 0 0 20px #0066CC, 0 0 30px #0066CC, 0 0 40px #0066CC;
    }
}


.cta-button {
    padding: 8px 13px;
    font-size: clamp(0.8rem, 2vw, 1rem);
    background: linear-gradient(135deg, #ff6b6b, #ffa726);
    color: beige;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background 1s ease-in-out, background-position 0.3s ease-in-out;
    white-space: nowrap;
    font-family: Roboto, sans-serif;
    margin-left: 15%;
    transition: all 0.3s ease;
}

.cta-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(139, 92, 246, 0.4);
}

.hash-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.about-button,
.projects-button,
.home-button {
    font-family: Roboto, sans-serif;
    color: beige;
    text-decoration: none;
    font-weight: 600;
    font-size: clamp(0.8rem, 2vw, 1rem);
    transition: transform 0.5s ease, transform 0.3s ease-in-out;
    padding: 8px 12px;
    white-space: nowrap;
}

.about-button:hover,
.projects-button:hover,
.home-button:hover   {
    color: #D6B588;
    transform: translateY(-5px);
}














