
.contact-me-page {
    font-family: Roboto, sans-serif;
    padding: 0;
    background-color: #1A1A1A;
    height: 110vh;
}

.head-banner {
    text-align: center;
    padding: 120px 0;
    background-color: #1A1A1A;
}

.head-banner h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    font-family: Roboto, sans-serif;
    color: beige;
}

.head-banner h3 {
    font-size: 1.5rem;
    color: beige;
}

.contact-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

.mail-contact-card, .linkedin-contact-card {
    margin: 30px;
    padding: 30px;
    background-color: #1A1A1A;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    transition: transform 0.3s ease-in-out;
    border-radius: 10px;
    text-align: center;
    width: 300px;
}

.mail-contact-card:hover, .linkedin-contact-card:hover {
    transform: translateY(-5px);
}

.mail-contact-card h2, .linkedin-contact-card h2 {
    font-size: 1.2rem;
    color: beige;
    margin-bottom: 15px;
}

.mail-contact-icon, .linkedin-contact-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mail-contact-icon img, .linkedin-contact-icon img {
    width: 48px;
    height: 48px;
    transition: transform 0.3s ease;
}

.mail-contact-icon img:hover, .linkedin-contact-icon img:hover {
    transform: scale(1.1);
}


@media (max-width: 768px) {
    .contact-box-container {
        flex-direction: column;
    }

    .mail-contact-card, .linkedin-contact-card {
        width: 90%;
        margin-bottom: 20px;
    }

    .head-banner h1 {
        font-size: 2.5rem;
    }

    .head-banner h3 {
        font-size: 1.2rem;
    }
}
